version: "3.9"
services:
  users-service:
    build: ./users-service
    container_name: users-service
    ports:
      - "3000:3000"
    env_file:
      - ./users-service/.env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: usersdb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db-data:
